p {
    color: rgb(0, 71, 249);
}

#textodoatumalaka {
    color: rgb(237, 254, 3);
}

h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textoItalico{
    font-size: italic;
}
.div1 {
    background-color: blue
}
.div2 {
    background-color: rgb(17, 251, 0)
}
.div3 {
   background-color: rgb(255, 234, 0)
}
